* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: lightgray;
}

.main-container {
    display: flex;
    justify-content: center;
}

.main-container-internal {
    background-color: white;
    max-width: 600px;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.premio {
    width: 100px;
}
.images {
    max-width: 100%;
}